 <!-- Contact start -->
    <div class= "contact" id="'contact">
        <div id= "contact" class= "ctext"  >
            <h2>Contact Us</h2>
            <p>For detailed information kindly contact</p>
        </div>
        <div class="icons1">
            <ul>
                <li>
                    <img src="../static/png/call.png">
                    <a href="tel:+91-8200895666" >+91-8200895666</a>
                </li></br>
                <li>
                    <img src="../static/png/skype.png">
                    <a href="https://join.skype.com/invite/s">Skype Me</a>
                </li></br>
                <li>
                    <img src="../static/png/whatsapp.png">
                    <a href="https://web.whatsapp.com/">Message Me</a>
                </li>
            </ul>
        </div>
        <div class="icons2">
            <ul>
                <li>
                    <img src="../static/png/email.png">
                    <a href="mailto:stu@manit.ac.in">stu@manit.ac.in</a>
                </li></br>
                <li>
                    <img src="../static/png/location.png">
                    <a href="https://maps.app.goo.gl/JcnCY5PrS6QmtQYZ7">Bhopal</a>
                </li></br>
                <li>
                    <img src="../static/png/linkedin.png">
                    <a href="https://www.linkedin.com/in/resumeanalyzer">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="topbtn">
            <a href="#home"> <img src="../static/png/up-arrow.png"></a>
        </div>
    </div>
    <!-- Contact end -->
</body>
</html>

