<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href='../static/css/style.css'>
    <title>Resume Analyzer</title>
</head>
<body>
    <!-- navbar start -->
    <div class="navbar">
        <div class="logo">
            <a href="#home">
                <img src="../static/png/logo1.png" alt="logo" width="80px">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li> <a href="#home">Home</a> </li>
                <li> <a href="#howitwork">How it Works</a> </li>
                <li> <a href="#jobRecommended"> Job Recommended</a> </li>
                <li> <a href="#contact"> Contact Us</a> </li>
            </ul>
        </div>
    </div>
    <!-- navbar end -->
